
<div id="scroll_container">
      <p>
        Objective: To improve reading comprehension
         by building emphasis on a fluid and mobile reading.
        This app offers essential practice for standardized testing, advanced placement courses, and more.
        <br>
        Brought to you by Amani M., Destini D., and MaryAshley E. of Google CSSI Atlanta.
      </p>

      <div id="social">
          <a href="https://twitter.com" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
          <a href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
          <a href="https://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
      </div>
  </div>
  <!--div class="social">
    <a href="https://facebook.com/" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>
    <a href="https://twitter.com/" class="link twitter" target="_parent"><span class="fa fa-twitter"></span></a>
    <a href="https://plus.google.com/" class="link google-plus" target="_parent"><span class="fa fa-google-plus-square"></span></a>
  </div -->
      </body>
  </html>
