<div id="scroll_container">
  <p class ="section1">
    Antiquity Sumerian language cuneiform script clay tablet 2400
    When writing systems were created in ancient civilizations, a variety of objects, such as stone, clay, tree bark, metal sheets, might be used for writing. The study of such inscriptions forms a major part of history. The study of inscriptions is known as epigraphy. Alphabetic writing emerged in Egypt. The Ancient Egyptians would often write on papyrus, a plant grown along the Nile River. At first the words were not separated from each other (scriptura continua) and there was no punctuation. Texts were written from right to left, left to right, or even so that alternate lines read in opposite directions. The technical term for that last type of writing is 'boustrophedon', which means literally 'ox-turning' for the way a farmer drives an ox to plough his fields.
      </p>
    <br><br>
<div >
    <!--form title = "Question"-->
        <p><em>What is the right answer? </em></p>
        <input type="radio" name="choice" value="A" checked> A : WRONG <br>
        <input type="radio" name="choice" value="B"> B : WRONG <br>
        <input type="radio" name="choice" value="C" id="correct"> C : RIGHT <br>
        <input  type="button" id="submit" value="Submit" onClick="evalAnswer()">
    <!--/form-->
</div>
<p class="section2" class="hidden">
      Tablet



</p>
</div>
