<div id="scroll_container">
          <p class ="section1">
            So let us begin a new remembering on both sides that civility is not a sign of weakness, and sincerity is always subject to proof. Let us never negotiate out of fear. But let us never fear to negotiate. And if a beachhead of cooperation may push back the jungle of suspicion, let both sides join in creating a new endeavor, not a new balance of power, but a new world of law, where the strong are just and the weak secure and the peace preserved.

            All this will not be finished in the first one hundred days. Nor will it be finished in the first one thousand days, nor in the life of this Administration, nor even perhaps in our lifetime on this planet. But let us begin.

            In your hands, my fellow citizens, more than mine, will rest the final success or failure of our course. Since this country was founded, each generation of Americans has been summoned to give testimony to its national loyalty. The graves of young Americans who answered the call to service surround the globe.
        </p>
        <div>
            <!--form title = "Question 1"-->
                <p><em>Kennedy uses the metaphor of a "beachhead" and "jungle" in the first paragraph mainly to </em></p>
                <input type="radio" name="choice" value="A" id="wrong"> A : paint a visual presentation to entertain his audience. <br>
                <input type="radio" name="choice" value="B" id="correct"> B : emphasize the importance of the issues he discusses. <br>
                <input type="radio" name="choice" value="C" id="wrong"> C : compare politics to ecology. <br>
                <input type="radio" name="choice" value="D" id="wrong"> D : suggest that jungles are more prevalent than beaches. <br>
                <input  type="button" id="submit" value="Submit" onClick="evalAnswer()">
            <!--/form-->
        </div>
        <p class = "section2 hidden">
          Now the trumpet summons us again; not as a call to bear arms, though arms we need; not as a call to battle, though embattled we are; but a call to bear the burden of a long twilight struggle, year in and year out, "rejoicing in hope, patient in tribulation" - a struggle against the common enemies of man: tyranny, poverty, disease and war itself. Can we forge against these enemies a grand and global alliance, North and South, East and West, that can assure a more fruitful life for all mankind? Will you join in that historic effort?
         In the long history of the world, only a few generations have been granted the role of defending freedom in its hour of maximum danger. I do not shrink from this responsibility; I welcome it. I do not believe that any of us would exchange places with any other people or any other generation. The energy, the faith, the devotion which we bring to this endeavor will light our country and all who serve it - and the glow from that fire can truly light the world.
  </p>
        <br><br>
        <div class = "section2 hidden">

            <!--form title = "Question 2"-->
                <p><em>As used in paragraph 4, "common" most nearly means </em></p>
                <input type="radio" name="choice" value="A" id="correct"> A : universal <br>
                <input type="radio" name="choice" value="B" id="wrong"> B : ordinary <br>
                <input type="radio" name="choice" value="C" id="wrong"> C : unimportant. <br>
                <input type="radio" name="choice" value="D" id="wrong"> D : unnecessary. <br>
                <input  type="button" id="submit" value="Submit" onClick="evalAnswer()">
            <!--/form-->
        </div>
</div>
