<div id="scroll_container">
          <p class ="section1">
            So let us begin a new remembering on both sides that civility is not a sign of weakness, and sincerity is always subject to proof. Let us never negotiate out of fear. But let us never fear to negotiate. And if a beachhead of cooperation may push back the jungle of suspicion, let both sides join in creating a new endeavor, not a new balance of power, but a new world of law, where the strong are just and the weak secure and the peace preserved.

            All this will not be finished in the first one hundred days. Nor will it be finished in the first one thousand days, nor in the life of this Administration, nor even perhaps in our lifetime on this planet. But let us begin.

            In your hands, my fellow citizens, more than mine, will rest the final success or failure of our course. Since this country was founded, each generation of Americans has been summoned to give testimony to its national loyalty. The graves of young Americans who answered the call to service surround the globe.
        </p>
        <form method="post" action="">
                <p><em>Kennedy uses the metaphor of a "beachhead" and "jungle" in the first paragraph mainly to </em></p>
                <input type="radio" name="choice" value="incorrect"> A : paint a visual presentation to entertain his audience. <br>
                <input type="radio" name="choice" value="correct" id="correct"> B : emphasize the importance of the issues he discusses. <br>
                <input type="radio" name = "choice" value="incorrect"> C : compare politics to ecology. <br>
                <input type="radio" name="choice" value= "incorrect"> D : suggest that jungles are more prevalent than beaches. <br>
                <!--input type="text" hidden="true" id="idField" name="readingSection" value= "2" path="/view-excerpt"/-->
                <input  type="submit" id="submit" value="Submit" >
        </form>
</div>
