<div id = "scroll_container">
  <center>
  <h4> Click the start button to begin </h4>
  <h3>Teach Yourself Programming in Ten Years</h3>
  <h4>Peter Norvig</h4>
  </center>
  <p>

  <h4>Why is everyone in such a rush?</h4>

  Walk into any bookstore, and you'll see how to <i>Teach Yourself Java
  in 24 Hours</i> alongside endless variations offering to teach C,
  SQL, Ruby, Algorithms, and so on in a few days or hours.
  The Amazon advanced search for [<a href="http://www.amazon.com/gp/search/ref=sr_adv_b/?search-alias=stripbooks&unfiltered=1&field-keywords=&field-author=&field-title=teach+yourself+hours&field-isbn=&field-publisher=&node=&field-p_n_condition-type=&field-feature_browse-bin=&field-subject=&field-language=&field-dateop=After&field-datemod=&field-dateyear=2000&sort=relevanceexprank&Adv-Srch-Books-Submit.x=16&Adv-Srch-Books-Submit.y=5">title: teach,
  yourself, hours, since: 2000</a>] and found 512 such books. Of the top ten, nine are programming books (the other is about bookkeeping). Similar results come from replacing "teach yourself" with "learn" or "hours" with "days."


  <p>The conclusion is that either people are in a big rush to learn
  about programming, or that programming is somehow fabulously easier to
  learn than anything else.
  Felleisen <i>et al.</i>
  give a nod to this trend in their book <i><a href="http://www.ccs.neu.edu/home/matthias/HtDP2e/index.html">How to Design Programs</a></i>, when they say
  "Bad programming is easy. <i>Idiots</i> can learn it in <i>21 days</i>,
  even if they are <i>dummies</i>." The Abtruse Goose comic also had <a href="http://abstrusegoose.com/249">their take</a>.

  <p>Let's analyze what a title like <i><a href="http://www.amazon.com/Sams-Teach-Yourself-Hours-5th/dp/0672333317/ref=sr_1_6?s=books&ie=UTF8&qid=1412708443&sr=1-6&keywords=learn+c%2B%2B+days">Teach Yourself C++ in 24 Hours</a></i>
  could mean:
  <ul>

  <li><b>Teach Yourself:</b> In 24 hours you won't have time to write several
  significant programs, and learn from your successes and failures with
  them.  You won't have time to work with an experienced programmer and
  understand what it is like to live in a C++ environment.  In short, you
  won't have time to learn much.  So the book can only be talking about a
  superficial familiarity, not a deep understanding. As Alexander Pope said,
  a little learning is a dangerous thing.<p>

  <li><b>C++:</b> In 24 hours you might be able to learn some of the syntax of
  C++ (if you already know another language), but you couldn't
  learn much about how to use the language.  In short, if you were, say, a
  Basic programmer, you could learn to write programs in the style of
  Basic using C++ syntax, but you couldn't learn what C++ is
  actually good (and bad) for.  So what's the point?  <a href="http://www-pu.informatik.uni-tuebingen.de/users/klaeren/epigrams.html">Alan Perlis</a> once said: "A language that doesn't affect the way you
  think about programming, is not worth knowing".  One possible point is
  that you have to learn a tiny bit of C++ (or more likely, something
  like JavaScript or Processing) because you need to interface with an
  existing tool to accomplish a specific task. But then you're not
  learning how to program; you're learning to accomplish that task.<p>
  <li><b>in 24 Hours:</b> Unfortunately, this is not enough, as the next
  section shows.
  </ul>

  <center>
    <h2> Click the finished button get your reading speed! </h2>
    <h4> Read the rest at <a href="http://www.norvig.com/21-days.html">Peter Norvig's website</a></h4>
  </center>
</div>
